
@{
    ViewData["Title"] = "Filtros";
}

<h1>Filtros</h1>

<div class="col-md-4">
	<form asp-action="FiltrarPorFuncionario">
		<div class="form-group">
			<label class="col-form-label">Filtrar Atendimentos por Nome de Funcionário</label>
			<input type="text" class="form-control" name="filtro">
		</div>
		<div class="form-group">
			<input type="submit" value="Filtrar" class="btn btn-primary">
		</div>
	</form>
</div>

<div class="col-md-4">
	<form asp-action="FiltrarPorData">
		<div class="form-group">
			<label class="col-form-label">Filtrar Atendimentos por Data</label>
			<input type="date" class="form-control" name="data">
		</div>
		<div class="form-group">
			<input type="submit" value="Filtrar" class="btn btn-primary">
		</div>
	</form>
</div>